ul {
    list-style: none;
}

:link,
 :visited {
    color: unset;
}

header {
    background: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav a:not(:hover) {
    text-decoration: none;
}

footer {
    background: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

footer>.social {
    display: flex;
    gap: 20px;
}